/*-------------------------------------------------------------------------*/
/* # CONTACT INFO
/*-------------------------------------------------------------------------*/
.contact-info {
	background: $bg-color4;
	@include outer-container(1000px);

	h3 {
	}

	.section-body {
		padding: 42px 30px 38px;
		@include clearfix;

		.grid-row {
			@include span-columns(12);
			@include omega();
			position: relative;
			margin-bottom: 18px;
		}

		.grid-left,
		.grid-right {
			@include span-columns(6);
			@include omega(2n);
		}

		.user {
			margin-bottom: 40px;
			@include clearfix;

			img {
				float: left;
			}

			.text {
				float: left;
				margin-left: 15px;

				h1 {
					margin-bottom: 0.2em;
				}

				p {
					margin-bottom: 0;
					line-height: 1.2;
					font-size: 18px;
				}
			}
		}

		article {
			position: relative;
			background: #fff;
			border-radius: 5px;
			margin-bottom: 18px;
			border: 1px solid #e1e4e6;
			box-shadow: 2px 2px 0px #ebebeb;

			&:last-child {margin-bottom: 0;}

			[class^="icon-"] {
				position: absolute;
				top: 50%;
				left: 32px;
				font-size: 44px;
				margin-top: -22px;
				color: #2b79ec;
			}

			.info {
				overflow: hidden;
				padding: 24px 75px 24px 105px;

				p {
					margin-bottom: 0.25em;
					color: #969696;
					font-size: 14px;
					text-transform: uppercase;
				}

				h4 {
					margin-bottom: 0;
					font-family: "ProximaNovaRegular", Arial, sans-serif;
					color: #2b79ec;
				}
			}
		}

		nav {
			padding-top: 58px;
			@include clearfix;

			a.btn {
				@include span-columns(6);
			}
		}

		#tabs-content {
			@include span-columns(6);
			@include omega();
			position: absolute;
			right: 0;
			top: 131px;
			bottom: 0;
			height: auto;
		}
	}
}

