/*-------------------------------------------------------------------------*/
/* # CRIMINAL RECS
/*-------------------------------------------------------------------------*/
.criminal-recs {
	background: #1550a4;
	border-bottom: 1px solid #b4caf7;
	color: #fff;
	@include outer-container(1000px);

	h3 {
		color: rgba(#fff, 0.55);
	}

	.section-body {
		padding: 70px;
		@include clearfix;

		article {
			@include span-columns(6);

			h2 {
				margin-bottom: 1em;
			}

			p {
				font-size: 16px;
				margin-bottom: 2.5em;
			}

			nav {

				a.btn {
				}

				a.help {
					color: #fff;
					margin-left: 12px;
					font-size: 20px;
					top: 4px;
					position: relative;

					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
	}
}

