/*-------------------------------------------------------------------------*/
/* # NEIGHBORS
/*-------------------------------------------------------------------------*/
.neighbors {
	background: $bg-color4;
	margin-bottom: 40px;
	@include outer-container(1000px);

	h3 {
	}

	.section-body {
		padding: 42px 30px 38px;

		.grid-row {
			@include span-columns(12);
			@include omega();
			position: relative;
			margin-bottom: 18px;
		}

		.grid-left,
		.grid-right {
			@include span-columns(6);
			@include omega(2n);
		}

		article {
			position: relative;
			background: #fff;
			border-radius: 5px;
			margin-bottom: 18px;
			border: 1px solid #e1e4e6;
			box-shadow: 2px 2px 0px #ebebeb;

			&:last-child {margin-bottom: 0;}

			[class^="icon-person"] {
				position: absolute;
				top: 50%;
				left: 32px;
				font-size: 44px;
				margin-top: -22px;
				color: #2b79ec;
			}

			.info {
				overflow: hidden;
				padding: 24px 75px 24px 105px;

				h4 {
					margin-bottom: 0.25em;
					font-family: "ProximaNovaRegular", Arial, sans-serif;
					line-height: 25px;
				}

				p {
					color: #646c6c;
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 0;
				}
			}

			[class^="icon-arrowright"] {
				position: absolute;
				top: 50%;
				right: 22px;
				font-size: 36px;
				margin-top: -18px;
			}
		}

		nav {
			margin-bottom: 18px;
			@include clearfix;

			a.btn {
				@include span-columns(6);
			}
		}

		#tabs-content {
			@include span-columns(6);
			@include omega();
			position: absolute;
			right: 0;
			top: 72px;
			bottom: 0;
			height: auto;
		}

		a.more-info {
			font-size: 16px;
		}
	}
}

