
<section class="top-nav">
	<nav class="grid-left">
		<a href="#" class="btn btn-sm btn-green">Upgrade Report</a>
		<a href="#" class="help"><span class="icon-question"></span></a>
	</nav>
	<nav class="grid-right">
		<a href="#" class="btn btn-sm btn-gray">Help</a>
		<a href="#" class="btn btn-sm btn-gray">Print</a>
		<a href="#" class="btn btn-sm btn-gray">Save PDF</a>
		<a href="#" class="btn btn-sm btn-gray">Email</a>
		<a href="#" class="btn btn-sm btn-white">Jupm To Section <span class="icon-caretdown"></span></a>
	</nav>
</section>

