
<section class="contact-info">

	<h3>Contact Information</h3>

	<div class="section-body">
		<div class="grid-row">
			<div class="grid-left">

				<div class="user">
					<img src="{{ site.baseurl }}/assets/img/avatar.png" alt="...">
					<div class="text">
						<h1>Jonathan F. Smithy</h1>
						<p>Age: 35</p>
						<p>Born: Jun 10, 1978</p>
					</div>
				</div>

				<article>
					<span class="icon-phone"></span>
					<div class="info">
						<p>Call home phone</p>
						<h4>(303) 576-1412</h4>
					</div>
				</article>

				<article>
					<span class="icon-pin"></span>
					<div class="info">
						<p>Current Address</p>
						<h4>1865 Elm Street<br>Palo Alto, CA 95640</h4>
					</div>
				</article>

				<article>
					<span class="icon-letter"></span>
					<div class="info">
						<p>Send Message</p>
						<h4>****@gmail.com</h4>
					</div>
				</article>

			</div>
			<div class="grid-right">

				<div id="tabs">
					<nav id="tabs-nav">
						<a href="#Map" class="btn btn-block">Map</a>
						<a href="#Property" class="btn btn-block">Property</a>
					</nav>

					<div id="tabs-content">
						<div id="Map" class="content">
							<div id="mapCanvas" class="map"></div>
						</div>
						<div id="Property" class="content">
							<h3>Property</h3>
							<p>Ea aspernatur veniam quo voluptatem doloremque labore neque nemo porro, delectus optio dicta vel nostrum officiis corporis at eveniet incidunt eos voluptas veritatis qui sit. Doloribus consequatur nobis saepe accusantium, repellendus. Doloribus, deserunt, sunt.</p>
							<p>Quae ex aspernatur doloremque inventore sed omnis praesentium eveniet sunt magni esse hic aliquam nostrum, quidem quibusdam sit perspiciatis quas aliquid provident nisi cum quaerat cumque neque. Quo accusamus minima nulla, officiis eaque reprehenderit culpa neque modi dolore natus necessitatibus autem dolor perspiciatis quisquam.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

