
<section class="criminal-recs">
	<h3>Criminal Records</h3>
	<div class="section-body">

		<article>
			<h2>Find out if Jack Keroac has any criminal records</h2>
			<p>Indicate if you would like to only view the court file and receive no copies. A clerk from the records unit will contact you when the court file is available.</p>
			<nav>
				<a href="#" class="btn btn-green btn-sm">Upgrade Report</a>
				<a href="#" class="help"><span class="icon-question"></span></a>
			</nav>
		</article>

	</div>
</section>

