
<section class="address-history">

	<h3>Address History</h3>

	<div class="section-body">
		<div class="grid-row">
			<div class="grid-left">

				<article>
					<span class="icon-ways"></span>
					<div class="info">
						<p>Current Address</p>
						<h4>1865 Elm Street<br>Palo Alto, CA 95640</h4>
					</div>
					<a href="#"><span class="icon-arrowright"></span></a>
				</article>

				<article>
					<span class="icon-ways"></span>
					<div class="info">
						<p class="disabled">Prior Address</p>
						<h4>3212 Channing Way<br>San Francisco, CA 94131</h4>
					</div>
					<a class="disabled"><span class="icon-arrowright"></span></a>
				</article>

				<article>
					<span class="icon-ways"></span>
					<div class="info">
						<p class="disabled">Prior Address</p>
						<h4>3485 Oakberry Way<br>San Jose, CA 95123</h4>
					</div>
					<a class="disabled"><span class="icon-arrowright"></span></a>
				</article>

			</div>
			<div class="grid-right">

			</div>
		</div>

		<a href="#" class="more-info">View All 16 Addresses</a>
	</div>
</section>

