
<section class="relatives">

	<h3>Relatives</h3>

	<div class="section-body">

		<article class="head">
			<span class="name">Name</span>
			<span class="age">Age</span>
			<span class="address">Address</span>
			<span class="link">Complete details</span>
		</article>

		<article class="person">
			<span class="icon-person"></span>
			<span class="name">Carl Kaeruac</span>
			<span class="age">27</span>
			<span class="address">452 Elm Street<br>San Francisco, CA 94132</span>
			<span class="link"><a href="#">View Contact Info</a></span>
		</article>

		<article class="person">
			<span class="icon-person"></span>
			<span class="name">Moe J. Kaeruac</span>
			<span class="age">32</span>
			<span class="address">3433 Mission Street<br>San Francisco, CA 94113</span>
			<span class="link"><a href="#">View Contact Info</a></span>
		</article>

		<article class="person">
			<span class="icon-person"></span>
			<span class="name">Marlin Karuac</span>
			<span class="age">61</span>
			<span class="address">1674 Delores Street<br>San Francisco, CA 94565</span>
			<span class="link"><a href="#">View Contact Info</a></span>
		</article>


		<a href="#" class="more-info">View All 12 Relatives</a>
	</div>
</section>

