
<section class="neighbors">

	<h3>Neighbors</h3>

	<div class="section-body">
		<div class="grid-row">
			<div class="grid-left">

				<article>
					<span class="icon-person"></span>
					<div class="info">
						<h4><a href="#">Paul Smith, 68</a></h4>
						<p>3212 Channing Way<br>San Francisco, CA 94131</p>
					</div>
					<a href="#"><span class="icon-arrowright"></span></a>
				</article>

				<article>
					<span class="icon-person"></span>
					<div class="info">
						<h4><a href="#">Frank Miller, 40</a></h4>
						<p>3214 Channing Way<br>San Francisco, CA 94131</p>
					</div>
					<a class="disabled"><span class="icon-arrowright"></span></a>
				</article>

				<article>
					<span class="icon-person"></span>
					<div class="info">
						<h4><a href="#">Samantha Jones, 36</a></h4>
						<p>3214 Channing Way<br>San Francisco, CA 94131</p>
					</div>
					<a class="disabled"><span class="icon-arrowright"></span></a>
				</article>

			</div>
			<div class="grid-right">

			</div>
		</div>

		<a href="#" class="more-info">View All Neighbors Within 1 Mile</a>
	</div>
</section>

