
<section class="footer">
	<footer>

		<nav class="people-directory">
			<h5>People Directory:</h5>
			<a href="#">a</a>
			<a href="#">b</a>
			<a href="#">c</a>
			<a href="#">d</a>
			<a href="#">e</a>
			<a href="#">f</a>
			<a href="#">g</a>
			<a href="#">h</a>
			<a href="#">i</a>
			<a href="#">j</a>
			<a href="#">k</a>
			<a href="#">l</a>
			<a href="#">m</a>
			<a href="#">n</a>
			<a href="#">o</a>
			<a href="#">p</a>
			<a href="#">q</a>
			<a href="#">r</a>
			<a href="#">s</a>
			<a href="#">t</a>
			<a href="#">u</a>
			<a href="#">v</a>
			<a href="#">w</a>
			<a href="#">x</a>
			<a href="#">y</a>
			<a href="#">z</a>
		</nav>

		<ul class="menu">
			<li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Privacy Center</a></li>
			<li><a href="#">Manage Your Listing</a></li>
			<li><a href="#">Common Uses</a></li>
			<li><a href="#">Court Records</a></li>
			<li><a href="#">County Records</a></li>
			<li><a href="#">Criminal Records</a></li>
			<li><a href="#">SiteMap</a></li>
			<li><a href="#">Help</a></li>
		</ul>

		<p class="slogan">PeopleSmart is designed to help you safely find people and learn about others. Find someone by name, email, phone number, and address. PeopleSmart is not a consumer reporting agency as defined by the guidelines of the <a href="#" target="_blank">Fair Credit Reporting Act</a>.<br>To learn more, read our <a href="#" target="_blank">Terms of Service</a> and <a href="#" target="_blank">Privacy Policy</a>.</p>

		<nav class="trust-logos">
			<a href="http://ihororlovskyi.com/" target="_blank"><img src="{{ site.baseurl }}/assets/img/footer/logo-verisign.jpg" alt="..."></a>
			<a href="https://www.facebook.com/" target="_blank"><img src="{{ site.baseurl }}/assets/img/footer/logo-bbb.jpg" alt="..."></a>
			<a href="https://twitter.com/ihororlovskyi" target="_blank"><img src="{{ site.baseurl }}/assets/img/footer/logo-truste.jpg" alt="..."></a>
		</nav>

		<p class="copyright">All rights reserved © 2015 PeopleSmart</p>

	</footer>
</section>

